NEXT_PUBLIC_PAYPAL_PLAN_ID=""
NEXT_PUBLIC_PAYPAL_CLIENT_ID=""

NEXT_PUBLIC_FIREBASE_API_KEY=""
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=""
NEXT_PUBLIC_FIREBASE_PROJECT_ID=""
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="<MAIN_FIREBASE_BUCKET_SAVE_IMG_VIDEO_REALTIME_CONTENT>"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="<REALTIME_SENDER>"
NEXT_PUBLIC_FIREBASE_APP_ID=""
NEXT_PUBLIC_FIREBASE_REALTIME_DB=


FIREBASE_PROJECT_ID=""
FIREBASE_CLIENT_EMAIL=""
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n<PRIVATE_KEY>\n-----END PRIVATE KEY-----\n"

SUPABASE_URL=""
SUPABASE_SERVICE_ROLE_KEY=""
FIREBASE_STORAGE_BUCKET=""
FIREBASE_DATABASE_URL=""
