rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Helpers
    function isSignedIn() {
      return request.auth != null;
    }
    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    // Usuarios: cada usuario solo puede leer/escribir su propio doc
    match /usuarios/{userId} {
      allow get: if isOwner(userId);
      allow list: if false;
      allow create: if isOwner(userId) && request.resource.data.id == userId;
      allow update: if isOwner(userId) && request.resource.data.id == userId;
      allow delete: if false; // opcional, puedes bloquear borrado desde cliente
    }

    // colaboradores: cada Colaborador solo puede leer/escribir su propio doc
    match /colaboradores/{colaboradorId} {
      allow get: if isOwner(colaboradorId);
      allow list: if false;
      allow create: if isOwner(colaboradorId) && request.resource.data.id == colaboradorId;
      allow update: if isOwner(colaboradorId) && request.resource.data.id == colaboradorId;
      allow delete: if false;
    }

    // Posts si solo el usuarios es el dueño del Post
    match /posts/{postId} {
      allow get: if isOwner(postId);
      allow list: if false;
      allow create: if isOwner(postId) && request.resource.data.id == postId;
      allow update: if isOwner(postId) && request.resource.data.id == postId;
      allow delete: if false;
    }

    // Calificaciones: el usuario solo puede modificar su propia calificación.
    match /calificaciones/{ratingId} {
      allow get: if isSignedIn() && get(/databases/$(database)/documents/calificaciones/$(ratingId)).data.userId == request.auth.uid;
      allow create: if isSignedIn() && request.resource.data.userId == request.auth.uid && request.resource.data.valor >= 1 && request.resource.data.valor <= 5;
      allow update: if isSignedIn() && get(/databases/$(database)/documents/calificaciones/$(ratingId)).data.userId == request.auth.uid && request.resource.data.valor >= 1 && request.resource.data.valor <= 5;
      allow delete: if isSignedIn() && get(/databases/$(database)/documents/calificaciones/$(ratingId)).data.userId == request.auth.uid;
      allow list: if false;
    }

    // ========================================
    // CHAT - TODO PERMITIDO (TEMPORAL)
    // ========================================
    match /chat_participants/{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
